h1
.speech{
    font-size: small;
     color:black;
}
{font-family: Arial, sans-serif;font-size: medium;color: black;}
.direction 
{font-family: "Courier";font-size: x-small;color: black;}
.direction:hover 
{background-color: aqua;}
.OLGA
{color: aqua;}
.IRINA 
{color: rgb(239, 211, 247);}
.CHEBUTIKIN 
{color: blue;}
.TUZENBACH 
{color: blanchedalmond;}
.FERAPONT
{color: orangered}
.SOLENI
{color:brown}
.ANDREY
{color:aquamarine}
.MASHA
{color:bisque}
.VERSHININ
{color:blueviolet}
.NATASHA