
.speech{
    font-size: medium;
     color:black;
}
.direction{
    font-size: x-small;
}
.direction:hover{
    color:black;
    background-color: wheat;
}

{color: aqua;}
.IRINA 
{color: rgb(239, 211, 247);}
.CHEBUTIKIN 
{color: blue;}
.TUZENBACH 
{color: blanchedalmond;}
.FERAPONT
{color: orangered}
.SOLENI
{color:brown}
.ANDREY
{color:aquamarine}
.MASHA
{color:bisque}
.VERSHININ
{color:blueviolet}
.NATASHA
{color: turquoise;}
.OLGA
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    color: rgb(136,112,216)
}
th{
    text-align: center;
}
td{
    text-align: left;
}
tr:nth-child(odd){
    background-color: bisque;
}
th,td{
    padding-top: 10px;
    padding-bottom: 20px;
}
.ANDREY:hover{
    text-shadow:1px 1px 5px rgb(59, 112, 59);}

    .bottom-navbar {
        background-color: #5b2424;
        overflow: hidden;
        position:static;
        width: 100%;
        bottom: 0;
        text-align: center;
    }
    .image{
        height: 400px;
        width: 400px; 
    }
    .bottom-navbar a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px; 
    }
    
    .bottom-navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .bottom-navbar a i {
        margin-right: 5px;
    }