
.speech{
    font-size: small;
     color:black;
}
.direction{
    font-size: x-large;
}
.direction:hover{
    color:black;
    background-color: wheat;
}

{color: aqua;}
.IRINA 
{color: rgb(239, 211, 247);}
.CHEBUTIKIN 
{color: blue;}
.TUZENBACH 
{color: blanchedalmond;}
.FERAPONT
{color: orangered}
.SOLENI
{color:brown}
.ANDREY
{color:aquamarine}
.MASHA
{color:bisque}
.VERSHININ
{color:blueviolet}
.NATASHA
{color: turquoise;}
.OLGA
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    color: rgb(136,112,216)
}
th{
    text-align: center;
}
td{
    text-align: left;
}
tr:nth-child(odd){
    background-color: bisque;
}
th,td{
    padding-top: 10px;
    padding-bottom: 20px;
}
.NATASHA:hover{
    text-shadow:1px 1px 5px rgb(7, 236, 7);}